<html>
  <body>
    <%- include('partials/_header'); -%>
    <%- include('partials/_loader'); -%>
    
   <br><br><br><br><br>
    <div class="info" id="staffs">
      <h1></h1>
      <br>
   <h1 style="color:#5865f2;">
Anka Code Premium
</h1>
<br>
<h3 style="color:white">
Anka Code Premium Üyelik Hakkında Bilgi
</h3>
<p>Sitemizde Yer Alan Bazı Özel Kodlara Erişmek İçin Premium Üyelik Gerekmektedir!<br>
Hangi Paketi Alırsanız Alın Premium Üyelik Size Website Profilinizde Muhteşem Bir Rozet Discord Sunucumuzda Güzel Bir Rol Kazandırır!
</p>
<br>
<a href="/premium/payment/cho">
<button class="btn btn-dark" style="background-color:#5865f2">
<i class="fas fa-shopping-basket" style="color:black"> Premium Satın Al</i>
</button></a>
<br><br><br>
<h3 style="color:white">
PREMİUM PAKETLERİ
</h3>
<div style="border: solid 1.2px #5865f2; width: 60%; height: 1px;"></div>
<br>
<div class="container">
<div class="row">
<div class="card" style=" margin: 55px; background-color:#1c1c1c ; height:auto; width:555px;">
<div class="card-header">
<h5 class="card-title">Premium Paket 1</h5>
<p class="card-subtitle">Ücret 15 ₺</p>
</div>
<div class="card-body">
<p class="card-text">Sitede Paylaşılan Tüm Kodlara ve Bot Altyapılarına Erişim İzini Kazanmanızı Sağlar Bu Sayede Tüm Kategorilerdeki Herşeye Erişe Bilirsiniz Bu Kategorilerde Genelde Altyapılar ve Kodlar Paylaşılır!</p>
</div>
</div>
<br><br>


    <script>
      if (localStorage.getItem("mode") != "") {
        document.body.classList.add(localStorage.getItem("mode"));
        document.getElementById("mode-btn").checked = true;
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/index.js"></script>
    <%- include('partials/_footer'); -%>
  </body>
</html>