</div>
</div>
</div>
</div>
</div>
</section>
<footer style="font-family: 'Lato', cursive;" class="page-footer font-small special-color-dark pt-4 ">
<div class="container" style="padding:10px">
<ul class="list-unstyled list-inline text-center">
<li class="list-inline-item">
<a target="_blank" href="https://discord.gg/Pe6sm25EUD" class="btn-floating btn-fb mx-1" rel="noreferrer">
<i class="fab fa-discord" style="color: #5865f2"></i>
</a>
<li class="list-inline-item">
<a target="_blank" href="https://github.com/ankacodecommunity" class="btn-floating btn-tw mx-1" rel="noreferrer">
<i style="color: #ffffff" class="fab fa-github"> </i>
</a>
</li>
<li class="list-inline-item">
<a href="destek@ankacode.xyz" class="btn-floating btn-fb mx-1" rel="noreferrer">
<i class="fas fa-envelope" style="color: RED"></i>
</a>
</li>
<li class="list-inline-item">
<a target="_blank" href="https://www.instagram.com/ankacodecommunity/" class="btn-floating btn-tw mx-1" rel="noreferrer">
<i style="background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;" class="fab fa-instagram"> </i>
</a>
</li>
<li class="list-inline-item">
<a target="_blank" href="https://www.youtube.com/channel/ankacode" class="btn-floating btn-tw mx-1" rel="noreferrer">
<i style="color: #c4302b" class="fab fa-youtube"> </i>
</a>
</li>
</ul>
<div class="footer-copyright text-center ">
<a href="//www.dmca.com/Protection/Status.aspx?ID=aae727a8-8c55-4990-9afd-0c08c9cb5d10" title="DMCA.com Protection Status" class="dmca-badge"> <img src="https://images.dmca.com/Badges/dmca-badge-w100-5x1-07.png?ID=aae727a8-8c55-4990-9afd-0c08c9cb5d10" alt="DMCA.com Protection Status" /></a> <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js" type="610fadea6b279b76a089ede1-text/javascript"> </script>
<br>
<a style="text-decoration:none; color:#5865f2" href="/">ankacode.xyz </a>&copy 2021
</div>
</div>
</footer>
<script type="610fadea6b279b76a089ede1-text/javascript">